/* 
../dart-sass/sass css/app.scss css/style.css --watch
*/

// Tools 
// =====================================
@import "tools/reset.scss";
@import "tools/variables.scss";
@import "tools/mixins.scss";
@import "tools/fonts.scss";
@import "tools/layout.scss";
@import "tools/animations.scss";

// Generic
// ==================
body {
	font-family: $font;
	font-size: 16px;
	color: $letterscolor;
	line-height: 1.4;
	background: $bgdark;
	scroll-margin: 100px 0 0 0;
	word-break: break-word;
  }
  
  body.light {
	background:$bglight;
	&::after {
	  display: none;
	}
  }
  
  body::after {
	display: none;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 580px;
	height: 506px;
	z-index: -1;
	pointer-events: none;
	background: url(../img/svg/logo-aru1-bg.svg) top left / 100% 100% no-repeat;
  
	@include up(700) {
	  display: block;
	}
  }
  
  ::selection {
	background: $contrast;
	color: #fff;
  }
// Modules 
// ====================================
@import "modules/header.scss";
@import "modules/footer.scss";
@import "modules/loader.scss";
@import "modules/404.scss";

// Pages 
// ===================================
@import "pages/friends.scss";
@import "pages/home.scss";
@import "pages/index.scss";
@import "pages/menu.scss";
@import "pages/online-course.scss";
@import "pages/options.scss";
@import "pages/pictures.scss";
@import "pages/projects.scss";
@import "pages/roi.scss";
@import "pages/staff.scss";

