/* 
../dart-sass/sass css/app.scss css/style.css --watch
*/
// == les bakcground-color ==
$bglight: #1b1e3d;
$bgdark: #171933; 
$bgdark25: #171933D8;
$bgnavbar: #2C316F;
$bgbutton:#2C316F;
$bgcard:#22244c;
$turquoise : #22789C;
$color-transparent:rgba(18, 28, 66, 0);
$shadow:#00000033;
// == les color pour fonts ==
$color-dark:#f0f3ff;
$letterscolor: #D4DCFF;
$textnavbar: #E7F8FF;
$textnavbar25:#8491C7;
$contrast: #5295e6;
$contrast25:#4869ee3f;
$red: #f05252;
$red25:#f052523f;
$green:#42cf7d;
$green25:#42cf7d3f;
$yellow:#fdb52e;
$yellow25:#fdb52e3f;

// == couleurs cosmetiques
$pink: #D68FD6;
$border: #2a2e5e;
$arrow:#BBCCE0;
$linedark:#161E3B;
$card-shadow: 0 2px 4px $shadow;
$modern-ext-shadow:4px 4px 4px rgb(0 0 0 / 25%), -3px -3px 5px -2px rgb(255 255 255 / 20%);

// == Spaces ==
$gap:25px;
$space:8px;
$space-section:150px;
$card-padding:16px;
$header-height:137px;
// === scrollBar === 
::-webkit-scrollbar{width: 13.5px;}
::-webkit-scrollbar-thumb{height: 7px;background: $border;border: 3px solid transparent;border-radius: 8px;background-clip: content-box;}
::-webkit-scrollbar-corner {background: $bglight ;}
::-webkit-resizer {background:$border ;}
::-webkit-scrollbar-track {background:transparent; padding: 1px;}
html {scrollbar-width: 8px;scrollbar-color: $border transparent;}

// Tools 
// =====================================
@import "tools/reset.scss";
@import "tools/mixins.scss";
@import "tools/fonts.scss";
@import "tools/layout.scss";
@import "tools/animations.scss";

// Generic
// ==================
body {
	font-family: $font;
	font-size: 16px;
	color: $letterscolor;
	line-height: 1.4;
	background: $bgdark;
	scroll-margin: 100px 0 0 0;
	word-break: break-word;
  }
  
body.light {
	background:$bglight;
}
body.light, #page404, #internat {
	&::after {display: none;}
}
  
body::after {
	@extend .mobile-hidden;
	content: '';
	position: absolute;
	top: -50px;
	left: -85px;
	width: 500px;
	height: 500px;
	z-index: -1;
	pointer-events: none;
	background: url(../img/svg/logo-aru1-bg.svg) top left / 100% 100% no-repeat;
	@include up(700) {
	  display: block;
	}
}
	::selection {
	background: $contrast;
	color: #fff;
  	}
// Modules 
// ====================================
@import "modules/card.scss";
@import "modules/form.scss";
@import "modules/btn.scss";
@import "modules/shadows.scss";
@import "modules/footer-contact.scss";
@import "modules/header.scss";
@import "modules/footer.scss";
@import "modules/loader.scss";
@import "modules/404.scss";


// Pages 
// ===================================
@import "pages/friends.scss";
@import "pages/home.scss";
@import "pages/index.scss";
@import "pages/menu.scss";
@import "pages/online-course.scss";
@import "pages/options.scss";
@import "pages/pictures.scss";
@import "pages/projects.scss";
@import "pages/roi.scss";
@import "pages/staff.scss";

