@import "libs/reset.scss";
@import "libs/fonts.scss";
@import "libs/variables.scss";
@import "libs/genericClasses.scss";
@import "libs/animations.scss";
/*
../dart-sass/sass sass/style.scss style.css --watch
*/
//== Header-nav==
#navbar {
	padding-top: calc(6 * #{$space});
    padding-bottom: calc(3 * #{$space});
	
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		width: var(--container-width);
		background-color: $border;
		height: 1px;
		z-index: -2;
	}

	ul, li  {
		display: flex;
		align-items: center;
	}

	.header-nav {
		> li a {
			z-index: 50;
			font-family: 'inter_medium';
		}
		margin-top: -5px;
		margin-bottom: -5px;
	}
	
	.sous {	display: none; }

	.sous.active  {
		display: flex;
		flex-flow: column;
		position: absolute;
		top: 20px;
		width: 220px;
		min-height: auto;
		background-color: $bglight;
		border: 1px solid $border;
		border-radius: 5px;
		transform: translate(-17px, -40px);
		.invisible {
			padding-top: 3rem;
		}
		li {
			padding: 1.2rem 0rem; 
		}
	}

	.drop2.active {
		width: 185px;
		transform: translate(-34.5px, -40px);
	}

	.drop3.active {
		width: 200px;
		transform: translate(-25px, -40px);
	}

	.sous, .drop2, .drop3 {
		z-index: 30;
	}

	.line::after {
		content: '';
		position: absolute;
		width: 90%;
		top: 41px;
		left: 0;
		right: 0;
		background-color: $border;
		margin: 0 auto;
		height: 1px;
	}

	.header__home {
		justify-self: flex-start;
		margin: 5px calc(2 * #{$space}) 5px 0;
		padding-right: calc(1 * #{$space});
		height: 16px;
		border-right: 1px solid $border;
	}

	.header-nav>*+* {
		margin-left: calc(6 * #{$space});
	}

	.header__home+li {
		margin-left: 0px;
	}

	.header-side {
		margin: 0 calc(-2 * #{$space});
		font-family: 'inter_bold';
		color: $textnavbar25;
	}

	.header-side>li {
		margin-right: calc(2 * #{$space});
	}

	.header__burger {
		display: none;
		margin-left: calc(1 * #{$space});
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 25px;
			height: 25px;
			background: 0 0;
			span {
				font-size: 0;
    			text-indent: -3000px;
			}
		}
	}
	
	.header__burger span, .header__burger span::before, .header__burger span::after {
		content: "";
		display: block;
		width: 16px;
		height: 2px;
		background: $letterscolor;
		position: relative;
		transition: .3s;
		transition-property: top,bottom,transform;
	}
	.header__burger span::after {bottom: -4px;}
	.header__burger span::before {top: -6px;}
	
	a {
		transition: color .2s ease;
	}

	a:hover, button:hover{
		color: $contrast;
	}
	
	svg {
		width: 16px;
		height: 16px;
		margin-right: calc(1 * #{$space});
		cursor: pointer;
	}
	
}
// Media query navbar 
@media only screen and (max-width:1000px) {
	#navbar {
		.header-nav .dropdown, .header-nav .relative{
			display: none;
		}
		.header__home {	border: none;}
		.header__burger {display: block;}
		.header-nav.mobile-active {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding: calc(4 * #{$space}) 0;
			transition: opacity .3s;
			backdrop-filter: blur(20px);
			z-index: 999;
			overflow: auto;
			.header__home, .line::after, .invisible {display: none;}
			
			.relative, .sous {
				display: block;
			}
			
			.sous {
				margin: .5rem 0;
				li {
					padding: .5rem 0;
					text-align: center;
				}
			}
			.relative {
				width: 185px; 
				margin: 3rem auto;
				> a {font-family: 'inter_bold'; font-size: 20px;}
			}
			
			white-space: nowrap;

			&::-webkit-scrollbar{width: 0;}
		}
		.header-side.mobile-active {
			position: fixed;
			top: calc(3 * #{$space});
			right: calc(2 * #{$space});
			z-index: 999;
		}

		.sous li {font-size: 18.5px;}
	}
}
	
// == Footer == 
#footer {
	padding-top: ($space-section / 2);
	padding-bottom: ($space-section / 2);
	background-color: $bgdark;
	border-top: 2px solid $contrast25;
	overflow: hidden;
	z-index: 1;

	.gold-book, .newsletter {
		max-width: 528px;
	}

	form {
		flex-flow: column nowrap;
		align-items: flex-start;
	}

	textarea {
		width: 100%;
		max-width: 505px;
		height:200px;	
		padding: 1.5em 2em;
		background:$bglight;
		transition: all .2s ease-in;
		&:focus {
			background:darken($bglight, 3.5%);
			border: 1px solid $contrast;
			box-shadow: none;
		}
	}
		.bg-mail {
		width: 100%;
		margin-top: 1.5rem;
		background: $bgcard;
		border: 1px solid $border;
		border-radius: 4px;
		padding: 15px;
	}
	 	.email-input {
		width: 100%;
		min-height: 44px;
		padding: calc(1.5 * #{$space}) calc(1 * #{$space});
		background: $bgdark;
		border: 1px solid $border;
    	border-radius: 3px;
		font-size: 16px;
		&:focus {
			border-color: $contrast;
			box-shadow: 0 0 0 3px $contrast25;
		}
	}

	form .btn-area {
		flex-direction: column;
		align-items: flex-start;
		.cancel-btn {
			order: 2;
		}
	}

	.submit-btn, .cancel-btn, .subscribe-btn {
		font-size: 22px;
		border-radius: 25px;
		padding: 0.24em 2.2em;
		color: white;
		transition: all .3s;
		cursor:pointer;
	}

	.cancel-btn {
		background-color: $red;
		&:hover {
			background-color: $red25;
		}
		&:active {
			background-color: $red;
		}
	}

	.submit-btn {
		background-color: $contrast;
		&:after, &:before {
			background-color:$contrast;
		}
		&:before {
			background-color: darken($contrast, 15%);
		}
	}

	.subscribe-btn {
		background-color: $green;
		&:after, &:before {
			background-color:$green;
		}
		&:before {
			background-color: darken($green, 15%);
		}
	}

	.copyright {
		margin-top: 7.5rem;
		transform: translateY(50px);
	}

	.network {
		position: absolute;
		bottom:20px;
		right: 20px;
		flex-flow: column nowrap;
		img {
			border-radius: 4px;
		}
	}

	.network img, .social-media img{
		transition: all .25s ease-in-out;
		cursor: pointer;
		&:hover {
			transform: scale(1.08);
		}
	}

	h3 {
		font-size: 29px;
		svg {
			width: 1.5em;
			height: 1.5em;
			top: -70%;
			left: 65%;
			transform: rotate(10deg);
		}
	}

	// == Pas enlever le truc cen dessou fin du footer !!!
}

@media only screen and (min-width:440px) {
	#footer {
		form .btn-area {
			flex-flow: row nowrap;
			.cancel-btn {
				order: 0;
			}
		}
		.submit-btn, .subscribe-btn {
			margin: 0 0 0 25px;
		}
		.network img {
			width: 143px;
			height: 114px;				
		}
		h3 svg {
			left: 45%;
			top: -80%;
		}
	}	
}

@media only screen and (min-width:700px) {
	#footer {
		.gold-book, .newsletter {
			margin: 0 auto;
		}
	}
}

@media only screen and (min-width:1030px) {
	#footer {
		display:grid;
	 	height: 623px;
	 	grid-template-columns:38.5fr 39fr ;
	 	grid-template-rows: 1fr 0;
		column-gap: 60px;
		.gold-book, .newsletter {
			 margin: 0;
			 width: 100%;
		}

		h3 {
			margin: 0 0 45px 0;
			line-height: 1.1;	
		}

		textarea {
			height: 287px;
		}

		.newsletter input {
			margin-bottom: 0;
		}
	
		.newsletter p {
			margin: 0 ;
		}
	
		form .btn-area {
			margin: 2em 0 0 0;
		}
	
		.social-media h4 {
			margin: 55px 0 15px 0;
			font-size: 22px;
		}
	
		.newsletter .copyright {
			display: none;
		}

		.gold-book .copyright{
			display: block;
			margin-top: 3.5rem; 
		}
		.copyright {
			transform: none; 
		}

		h3 svg {
			left: 55%;
		}
	
	}
}

@media only screen and (min-width:1360px) {
	#footer {
		grid-column-gap:327px;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background: url(img/svg/logo-aru1-bg.svg) no-repeat;
			width: 250%;
			height: 250%;
			transform: rotate(13.5deg) translate(50px, 30px);
			z-index: -1;
		}
	}
}

// == Index ==
#index {
	background-color:$bglight;
	width: 100%;
	height: 100vh;

	main {
			h3 {
				font-size: 29px;
				text-align: center;
				margin-bottom: 20px;
			}

			> div {
				margin: 20px auto 5rem auto;
				max-width: 80vw;
			&:last-child {
				padding-bottom: 5rem;
			}
		}

		.container-overflow {
			overflow: hidden;
			border-radius: 15px;
		}

		img {
			transition: transform .3s ease;
			&:hover {
			transform: scale(1.1);
			}
			cursor: pointer;
		}

		.container-spoiler {
			background:$bgdark;
			width:90%;
			height: auto;
			margin: 0 auto;
			text-align: center;
			border-radius: 15px;
			.spoiler-content {
				padding-top: 1rem;
			}
			p {
				padding: 1rem;
			}
			button {
				margin: 1rem 0 ;
				border: 1px solid $bgcard;
				background: transparent;
				padding: .5rem 1.2rem;
				border-radius: 25px;
				color: $letterscolor;
				font-size: 18.5px;
				cursor: pointer;
			}
		}
	}
}
// == Media query index == 
@media only screen and (min-width:600px) and (max-width:1100px) {
	#index {
		main {
			> div {
				width:70vw;
			}
		}
	}
}
@media only screen and (min-width: 1100px) {
	 #index {
		main {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: auto ;
			gap: 60px;
			margin-bottom: 3rem;

			> div {
				margin-bottom: 0;
				&:last-child {
					padding-bottom: 0;
				}
			}
			
			.spoiler, .spoiler-content {display: none;}
		}

		header img {
			 width: 100%;
		}

		footer {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 70px auto;
			column-gap: 60px;
			row-gap: 20px;
			margin-bottom: 32px;
			min-height: 350px;
			background: $bgdark;
			text-align: center;
			border-top: 1px solid $border;
			h3 {
				font-size: 25px;
				grid-area: 1 / 1 / span 1 / span 1;
				align-self: center;
				justify-self: flex-start;
			}
			h4 {
				font-size:20px ;
				margin-bottom:1rem ;
			}

			p {
				padding: 5px 0;
				line-height: 1.2em;
			}

			a {
				color: $pink;
				&:hover {
					color: darken($pink, 15%);
					text-decoration: underline;
				}
			}

			.contact-1, .contact-2, .contact-3  {
				grid-area: 2 / 1 / span 1 / span 1;
				align-self: flex-start;
				border-radius: 15px;
			}

			.contact-2 {
				grid-area: 2 / 2 / span 1 /span 1;
			}

			.contact-3 {
				grid-area: 2 / 3 / span 1 /span 1;
			}
		}
	}
}
	
// == Accueil ==
#accueil {
	background-color: $bglight; 
	width: 100%; 
	height: 100vh; 

// == section upper == presentation video et infos importante ==
.upper-container {
	display: grid;
	grid-template-columns: 810px 1fr;
	gap: 5 * $gap;
	padding:  ($space-section / 1.2) calc(50% - var(--container-width) / 2) ($space-section / 2) calc(50% - var(--container-width) / 2);
	h1 {
		font-size: 35px;
	}
}

.video_iframe{ 
	border-radius: 0 25px 25px  25px;
}

.infos_square{
	min-height: 223px; 
	max-height: 499px;
	padding: 1em 1em 0 2em;
	border: 0.8px solid $border; 
	border-radius: 4px;  
	background: $bgcard;
	line-height: 1.4em; 
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);  
	p {
		font-size: 16px;
		margin-bottom: 1em;
		a {
			color: $pink;
			text-decoration: underline;
		}
	}
}

.scroll-down__chevron {
	width: 25px; 
	height: 25px;
	animation: scroll-down__chevron 4s .7s cubic-bezier(0.71, 0.76, 0.98, 1.23) infinite;
	cursor: pointer;
}

// == section center == A la une == 
section.actu{
	padding:calc((#{$space-section} / 2) - 25px) 0 calc(#{$space-section} / 2)  0 ;
}

section.actu .container-carroussel {
	background:linear-gradient(to top, $bglight, $bglight) left bottom/100% 90px no-repeat $bgdark; 
	height: 530px;
}

h2 {
	font-size: 32px;
}

.actu .container .container {
	height: auto;
	padding-top: 28px;
}

.card-actu{
	align-self: flex-end;
	flex-direction: column;
	width:330px;
	height: 407px;
	.img-card{
		flex-shrink: 0;
		width: 100%;
		height: 192px !important;
		background-image: url(img/card-test.jpg);
		background-size: cover;
		border-radius: 25px;
		z-index: 10;
		
	}
	.text-bg_card{
		flex-flow: column;
		flex-shrink: 0;
		transform: translateY(-25px);
		margin: 0 0.55em;
		height: 232px;
		justify-self: center;
		background-color: $bgcard;
		border: 1px solid $border;
		border-radius: 25px;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
		font-size: 18.5px;
	}
	.text-bg_card p {
		align-self: flex-start;
		padding: 50px 2% 0 8.5%;
	}
	.line {
		align-self: center;
		margin-bottom: 0.35em;
		width: 125px;
		border: 1px solid $linedark;
		border-radius: 25px;
	}
	.btn_more{
		flex-shrink: 0;
		align-self: flex-end;
		justify-self: flex-end;	
		transform: translateY(-65px);
		width: 45px;
		height: 45px;
		background: $bgcard;
		border: 1px solid $border;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		z-index: 10;
	}
}

.show-more-infos{
	cursor:pointer;
}

.arrow_next{
	grid-area: 2 / 10 / span 1 / span 1;
	transform: rotate(180deg);
	align-self: flex-end;
	justify-self: flex-start;
}

// Media query A la une 
@media only screen and (max-width:1100px) {
	.actu .container {
		justify-content: space-around;
		.card-actu.item2 {
			display: none;
		}
	}
}

@media only screen and (max-width:750px) {
	.actu {
		.card-actu.item3 {
			display: none;
		}
	}
}

// == section bottom ==
section.bottom{
	padding-top: ($space-section / 2);
	padding-bottom: ($space-section / 2);
}

.card-inscriptions, .card-eel {
	flex-flow: nowrap column;
	justify-content: flex-start;
	max-width: 533px;
	line-height: 1.5em;
	h2 {
		font-size: 32px;
	}

	.img {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		margin: 2em 0;
		background:center / cover no-repeat url(img/inscriptions.jpg);
		border-radius: 50px ;
	}

	p {
		font-size: 18px;
		text-align: center;
		margin-bottom: 19px;
		align-self: center;
		padding: 0 16px ;
	}

	.hr {
		justify-self: flex-end;
		width: 60%;
	}
}
.card-inscriptions span {
	color:$green;
}

.card-eel .img {
	background-image: url(img/online_school.jpg);
}

.card-eel a{
	color: $pink;
	cursor: pointer;
}

// == forms ==
.triangle-bg, .square-bg, .square-form-invoid, .paralleleograme {
	position: absolute;
	width: 280px;
	height: 280px;
	background-color: $bgdark;
	z-index: -10;
}

.triangle-bg {
	right:0px;
	top: 504.64px;
	clip-path: polygon(94% 14%, 100% 25%, 100% 81%, 61% 90%);	
}

.square-bg {
	clip-path: polygon(0 20%, 14% 21%, 35% 75%, 0 99%);
	left: 0;
	top: 250px;
}

.square-form-invoid {
	clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
	left: -140px;
	bottom: 550px;
	transform: rotate(20deg);
}
// == NE SURTOUT PAS ENLEVER LE CROCHET EN DESSOUS == // == fin de Acceuil !!!
}
// @media query accueil upper section
@media only screen and (max-width:1360px) {
	#accueil .upper-container {
		grid-template-columns: 1fr;
		padding-top: $space-section / 2;

		.infos_square {
			max-height: 250px;
		}

		.ratio-video {
			width: 100%;
			height: 0;
			position: relative;
			padding-bottom: 56.25%;
		}
		
		.video_iframe{
			position: absolute;
			width: 100%;
			height: 100%; 
		}
	}
}
// @media query accueil bottom section
@media only screen and (max-width:1250px) {
	section.bottom {
		flex-flow: nowrap column;
		.card-eel{
			margin-top: ($space-section / 2);
			.hr {
				display: none;
			}
		}
	}
}

//R.O.I
#roi-page{
	background-color: $bgdark; 
	width: 100%; 
	height: 100vh; 
	.container {
		p, h2, h4, h5 {
			padding-left: 2rem;
			padding-right: 2rem;
		}

		h2 {
			font-size: 35px;
		}

		h4 {
			font-size: 22px;
		}
	
		h5 {
			font-size: 18.5px;
			margin-top: 0.8rem;
		}
	
		p {
			margin: 1em 0;
			line-height: 1.3em;
		}
	
		.summary-roi, .roi {
			a {
				color: $pink;
			}
			a:hover {
				color: darken($pink, 15%);
			}
			margin-top:calc(#{$space-section} / 2);
		}
	
		.summary-roi {
			background-color: $bglight;
			line-height: 1.5em;
			border-radius: 8px;
			h4 {
				padding-bottom: 1em;
			}
		}
	
		.roi {
			background-color: $bglight;
			border: 1px solid $border;
			margin-bottom: 2rem;
			&:last-child {
				padding-bottom: 1.5em;
			}
		}

		.sloth {
			position: absolute;
			bottom: 10%;
			right: -8%;
			width: 12.5%;
			transform: rotate(-22deg);
		}

		
	}
	
}
// == media query R.O.I == 
@media only screen and (min-width:1000px) {
	#roi-page {
		.container {
			display: grid;
			grid-template-columns: 425px 1fr;
			gap: calc(2.4 * #{$gap});
			.sloth {
				bottom: -38.5px;
				left: 50px;
				width: 350px;
				transform: none;
			}
		}
	
		.summary-roi {
			height: 225px;
		}
	
		.roi {
			max-height: 750px;
			overflow: auto;
		}
	}
}

// == Projets d'établissement == 
#projetsecole {
	width: 100%;
	height: 100vh;
	background:$bgdark;
	.projets {
		margin: 8.5rem 0;
		background: $bglight;
		border-radius: 8px;
		h1, h5, h4, p, a {
			padding-left: 80px;
			padding-right:80px;
		}
		h1 {
			font-size: 35px;
		}
		h5 {
			font-size:20px ;
			color: $yellow;
		}
		h4 {
			font-size:18.5px ;
		}
		p {
			line-height:1.1;
			padding: 1rem 80px 25px 80px;
		}
		a {
			color: $red;
			display: inline-block;
			padding-bottom: 60px;
			&:hover {
				color: darken($red, 20%);
			}
			img {
				transform:translateY(35%);
				margin-left:10px ;
			}
		}
	}
}
// == Media Query projets d'établissement == 
@media only screen and (max-width:800px) {
	#projetsecole {
		.projets {
			h1, h5, h4, p, a {
				padding-left: 20px;
				padding-right: 20px;
				word-break: break-word;
			}
		}
	}
}

//online-class
#coursenligne_page {
	background-color: $bgdark; 
	width: 100%; 
	height: 100vh;
	position: relative;

	.coursenligne  {
		margin: calc(#{$space-section * 1.8}) auto calc(#{$space-section * 2.5}) auto;
		background-color: $bgcard;
		border: 1px solid $border;
		border-radius: 4px;
		animation: container .8s cubic-bezier(.8, .5, .6, 1.3);
		h1, h2, p{
			padding-left: 3rem;
			padding-right: 3rem;
		}
		h1 {
			font-size: 32px;
		}
		h2 {
			font-size: 25px;
		}
		p {
			font-size: 18px;
		}

		:nth-child(3) {
			margin: 1.3em 0 0.5em;
		}

		:last-child {
			margin-bottom: 2em;
		}

		a{
			color: $pink;
			&:hover {
				color: darken($pink, 15%);
			}
		}
	}
	.cloud-1, .cloud-2, .cloud-3, .sun {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
	.cloud-1 {
		top: 20px;
		left: -50px;
		animation: cloud-1 15s linear forwards ;
	}
	.cloud-2 {
		top: 150px;
		right:200px ;
		animation: cloud-2 10.5s 1.5s ease-out forwards;
	}
	.cloud-3 {
		top: 425px;
		left: 350px;
		animation: cloud-3 10s 1s ease-in-out forwards;
	}
	.sun {
		top: 0;
		left: 0 ;
		animation: sun 10s 5s  forwards;
		z-index: 10;
	}
}
// Media query Cours en ligne
@media only screen and (max-width:400px) {
	#coursenligne_page{
		.coursenligne {
			h1, h2, h3, p {
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}
}

// == Gille d'option ==
#g_options {
	background: $bgdark;

	header {
		margin-top: calc(#{$space-section} / 3.5);
		h1 {
			font-size: 30px;
		}
	}
	main {margin-bottom:calc(#{$space-section} / 2);}

	main, header {
		display: grid;
		grid-template-columns: repeat(auto-fill, 300px);
		grid-template-rows:auto;
		gap: 40px;
		justify-items: center;
		justify-content: center;
		div {
			flex-direction: column;
			background: $bgcard;
			border-radius: 5px;
			width: 300px;
			height: 310px;
			text-align: center;
			line-height: 1.5em;
			overflow: hidden;
			.img {
				background:no-repeat center / cover url(../img/grilles-options/1e.jpg);
				width: 300px;
				height: 165px;
				border-radius: 5px;
			}
		&:nth-child(3) .img{
			background: no-repeat center / cover url(../img/grilles-options/1e-immersion.jpg);
		}
		&:nth-child(4) .img{
			background: no-repeat center / cover url(../img/grilles-options/2e.jpg);
		}
		&:nth-child(5) .img{
			background: no-repeat center / cover url(../img/grilles-options/2ecomplementaire.jpg);
		}
		&:nth-child(6) .img{
			background: no-repeat center / cover url(../img/grilles-options/3e.jpg);
		}
		&:nth-child(7) .img{
			background: no-repeat center / cover url(../img/grilles-options/4e.jpg);
		}
		&:nth-child(8) .img{
			background: no-repeat center / cover url(../img/grilles-options/5e.jpg);
		}
		&:nth-child(9) .img{
			background: no-repeat center / cover url(../img/grilles-options/6e.jpg);
		}
			h4 {
				font-size: 20px;
				position: relative;
			}
			h4::after {
				content: '';
				margin: 0 auto;
				position: absolute;
				top: 42.5px;
				left: 0;
				bottom: 0;
				right: 0;
				width: 80%;
				height: 1px;
				background: $letterscolor;
			}
			.line::after {
				top: 50px;
			}
			button {
				box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -3px -3px 5px -2px rgba(255, 255, 255, 0.2);
				font-size: 16px;
				background:$bgcard ;
				border-radius:5px ;
				padding: 0.4rem 1rem;
				margin: 20px 0;
			}
		}

		svg {
			position: fixed;
			top: 30px;
			left: 75%;
			z-index: -1;
		}
	}
}
// Media Qery g_options 
@media only screen and (max-width:680px) {
	#g_options {
		header h1 {
			padding: 0 1rem ;
		}
		.sloth {
			right: 0;
			transform: rotate(-15deg) translate(20px);
		}
	}
}
// == Photos page ==
#photos-page {
	background: $bglight;
	width: 100%;
	height: 100vh;

	h1 {
		font-size:52px ;
		line-height: 1.2em;
		svg {
			transform: translate(10px, 6px);
			animation:camera 1s 1s cubic-bezier(0.51, 0.89, 0.56, 0.72) ;
		}
	}

	.container-photos {
		background:$bgdark;
		min-height: 300px;
		border: 1px solid $border ;
		border-radius: 5px;
		h2 {
			font-size: 29px;
			padding-left: 15px;
			padding-right: 15px;
			opacity: 0;
			animation: h2 .5s ease-out forwards;
		}
		h2::after {
			content: '';
			position:absolute;
			top: 90%;
			left: 15px;
			margin: 0 auto;
			width: 90%;
			height: 1px;
			background: $border;
		}
		p {
			word-break: break-word;
			padding-left: 1rem;
			opacity: 0;
			animation:p .6s .5s ease-in-out forwards;
			a {
				color: $pink;
			}
		}
	}
}
// Media Query photos 
@media only screen and (min-width:1000px) {
	#photos-page {
		.main {
			display: grid;
			grid-template-columns:450px 1fr ;
			padding-top: calc(#{$space-section} / 2);
			padding-bottom: calc(#{$space-section} / 2.75);
		}
		.main h1 {
			padding: 5rem 3rem 0 0;
		}
		.container-photos {
			max-height: 725px;
			margin: 0;
			padding: 0 0 1rem 2rem;
		}
		.monkey-shy, .chat-monkey {
			display: block;
			position: absolute;
			z-index: -1;
		}
		.monkey-shy {
			left: 5%;
			bottom:600px;
			animation: monkeyShy 2s ease-out;
		}

		.chat-monkey {
			position: absolute;
			top: 500px;
			left: 10%;
			width: 300px;
			height: 145px;
			background: $bgdark;
			clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 49% 100%, 50% 75%, 0% 75%);
			padding: 1.35rem 1rem;		
			font-size: 29px;
			line-height: 1.2em;
			opacity: 0;
			animation: opacity_0_to_100 .2s 2s ease-in both;
		}
	}
}
@media only screen and (min-width:1650px) {
	#photos-page {
		.sloth {
			display: block;
			position: absolute;
			top: 250px;
			right:4%;
			z-index: -1;
			animation:slothPhoto 1.5s .1s cubic-bezier(0.15, 0.2, 0.13, 1.1) both;
		}
	}
}

// == Les amis Aru1 ==
#les_amis {
	background: $bgdark;
	main {
		img {
			padding: 2rem 0 0 2rem;
			border-radius: 5px;
		}
		.container {
			align-items: flex-start;
			margin: calc(#{$space-section} / 2) 0;
			background: $bglight; 
			border: 1px solid $border;
			border-radius:4px;
		}
	
		h1 {
			font-size: 35px;
			padding: 2rem 0 0 2rem;
		}
	
		h5 {
			font-size: 22.5px;
			padding: 1rem 2rem ;
			span {
				text-decoration: underline;
			}
		}
	
		p {
			line-height: 1.2em;
			padding:1rem 3rem 1rem 2rem;
			font-size: 18.5px;
		}
	
		ul {
			list-style:disc ;
			color: $bgbutton;
			padding:1rem 3rem;
			
			p {
				padding: 0.5rem 0;
			}
		}
		a {
			color: $contrast;
			&:hover {
				color: darken($contrast, 15%);
			}
		}

		.see-more {
			display: inline-block;
			margin: 1rem 0 2rem 2rem;
			padding: 0;
			color: $pink ;
			cursor: pointer;
			&:hover {
				color: darken($pink, 15%);
			}
		}
	}
}
// Media Query Les amis Aru1 
@media only screen and (max-width:1000px) {
	#les_amis {
		main {
			.container {
				flex-direction: column;
			}
		}
	}
}
@media only screen and (max-width: 550px) {
	#les_amis {
		main {
			img, h1, h5, p {
				padding-left: 1rem;
				padding-right: .5rem;
				font-size: 16px;
			}
			h1 {font-size: 25px;}

			h5 {font-size: 18.5px;}

			img {
				padding: 1rem 1rem 0 1rem;
			}
			ul {
				padding: 1rem 2rem;
			}

		}
	}
}

// == loader page ==  
#loader-page {
	background: $bgdark;
	// backdrop-filter: blur(10px);

	h1 {
		font-size: 52px;
		margin-left:2rem;
	}

	main {
		height: 100vh;
		padding: 0;
	}

	.loader {
		width: 80px;
		height: 80px;
		position: relative;
		border-radius: 50%;
		border: 8px solid $border;
		&::after {
			content: '';
			position: absolute;
			top: -8px; left: -8px; right: -8px; bottom: -8px;
			width: 80px;
			height: 80px;
			border: 8px solid transparent;
			border-top-color:$contrast ;
			border-radius: 50%;
			animation: loaderSpin 1s linear infinite;
		}
	}

	@keyframes loaderSpin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
// media query loader-page 
@media only screen and (max-width:1000px) {
	#loader-page {
		h1 {
			font-size: 40px;
		}
		.loader {
			width: 60px;
			height: 60px;
			border: 6px solid $border;
			&::after {
				top: -6px; left: -6px; right: -6px; bottom: -6px;
				border: 6px solid transparent;
				width: 60px;
				height: 60px;
				border-top-color:$contrast ;
			}
		}
	}
}
@media only screen and (max-width:440px) {
	#loader-page {
		h1 { font-size: 29px;}
		
		.loader {
			width: 40px;
			height: 40px;
			border: 4px solid $border;
			&::after {
				top: -4px; left: -4px; right: -4px; bottom: -4px;
				border: 4px solid transparent;
				width: 40px;
				height: 40px;
				border-top-color:$contrast ;
			}
		}
	}
}
 
// == Erreure 404 page ==
#page404 {
	background: url(../img/bg404.png), $bgdark ;
	backdrop-filter: blur(3px);
	
	main {
		height: 100vh;
	}

	.container {
		z-index: 1;
		justify-content: flex-start;
		padding: 2rem;
		background: $bglight;
		border: 1px solid $border;
		border-radius: 25px;
		
		h1 {
			font-size: 52px;
		}
		p {
			font-size: 25px;
			line-height: 1.9em;
		}
		a {
			color: $contrast;
			&:hover {
				color: darken($contrast, 15%);
			}
		}
		.text {
			margin:  0 0 -3rem 3rem;
			word-break:keep-all;
		}
	}


}
// Media Query 404 page
@media only screen and (max-width:980px) {
	#page404 {
		.container {
			h1 {
				font-size: 35px;
			}

			p {
				font-size: 22.5px;
				line-height: 1.5em;
			}
			.text {
				margin-bottom: 0;
			}
		}
	}
}
@media only screen and (max-width:750px) {
	#page404 {
		.container {
			flex-flow: column;
			align-items: center;
			padding: 1rem;

			h1 {
				padding-top: 1rem;
				font-size: 29px
			}

			p {
				font-size: 16px;
			}

			.text {
				margin: 0;
				text-align: center;
			}
			svg {
				width: 60vw;
			}
		}
	}
}
@media only screen and (max-height:460px) {
	#page404 main svg {display: none;}
}
@media only screen and (max-width:1200px) {
}