@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/functions.scss";
@import "libs/responsive.scss";
@import "libs/fonts.scss";
@import "libs/variables.scss";
@import "libs/genericClasses.scss";
// ../dart-sass/sass sass/style.scss style.css --watch
// === scrollBar === 
	::-webkit-scrollbar{width: 8.5px;height: 7px; }
	
	::-webkit-scrollbar-thumb{ background: $border; border-radius: 4px;}
	
	::-webkit-scrollbar-corner { background: $bglight }
	
	::-webkit-scrollbar-track {background:$bglight; padding: 1px;}
// == selection for fonts
::selection { background:$contrast; color: #fff;}

// == main_index 
#main_index{ background-color:var(--bg); width: 100%; height: 100vh; position: relative;--bg: #212121; --bg-navbar:#212121; --bg-button:#468ACE;--bg-lien:#C46FC4; --color-text:#FFFFFF; --color-headings: #468ACE;


	.header{ justify-content: space-between; margin: 0 3.75%;
}

	.logo-image{display: block;	width: 196.5px;	height:200px; margin: 40px 0; background-image: url("img/LOGO-blanc.png"); cursor: pointer;
}


	.navbar{width: calc(95% - 196.5px);	height: 2em; border-radius: 35px;  background-color: var(--bg-navbar);	font-size: 50px; text-transform: uppercase; box-shadow: -4px -4px 4px -1.5px rgba(255,255,255, 0.25), 8px 8px 4px -1.5px rgba(0, 0, 0, 0.25); 
		
		h1 {color:var(--color-text);
		}
}

	.navbar[data-theme="dark"] { border-top-left-radius: 0.5px solid var(--bg-button);
		h1 { color: var(--color-text);
		}
}


// ==  main  

.main{position: relative; justify-content: space-between; height: 45%;	width: 100%; background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)) , url(img/book.jpg);	background-attachment: fixed; background-repeat: no-repeat;	background-size: cover ; background-position: center center;
	
	.btn { padding: 11px 25px; border-radius: 50px; background-color:var(--bg-button); font-size: 30px; color: var(--color-text); font-weight: 400; text-align: center; font-family: 'Yantramanav', sans-serif; transition: all 0.3s ease 0s; cursor:pointer; box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3); 
	}
	.btn:focus {outline: none; transform: scale(1.15, 1.15); box-shadow: none; background-color: #1481EE; color: black;
	} 
	.btn:active {	transition: all 0.1s ease 0s; background-color: #1973ce;
	}

	a:hover {	transform: scale(1.15, 1.15); box-shadow: none; 
	}
}

.main[data-theme="dark"] {
	.btn { background-color: var(--bg-button);
	}
	.btn:active [data-theme="dark"]{	transition: all 0.1s ease 0s; background-color: #c46a10;
	}
}

.petite-ecole,.ecole-secondaire,.ecole-internat{width:100%;
}

// ======== TELEPHONE DESACTIVE ============== 

.display-none {	display: none;
}

// ==   footer  

.footer{ display: flex;	justify-content: space-between;	margin: 40px 0;
	h3 {	padding: 0 0 27.5px; font-size: 30px; color:var(--color-text);
	}

	div { min-height: 235px; text-align: center; margin-bottom: 25px;
	}

	p {	font-size: 17.5px; font-weight: 300; line-height: 1.4em; color: var(--color-text); font-family: 'Roboto Slab', serif;
	}
}

.petite-ecole-contact, .ecole-secondaire-contact, .ecole-internat-contact {	width: 100%; box-shadow: -4px -4px 4px -1.5px rgba(255,255,255, 0.25), 8px 8px 4px -1.5px rgba(0, 0, 0, 0.25); border-radius: 25px; margin: 0 100px; padding: 20px 0 10px;
}

.petite-ecole-contact {	padding-left: 0%; 
}

.petite-ecole-contact :last-child {	padding: 20px 0;
}

.ecole-secondaire-contact :last-child {	padding: 20px 0;
}

.ecole-secondaire-contact :last-child a { padding: 0; 
}

.ecole-internat-contact { padding-right: 0%;
}


// mailto lien 

.ecole-secondaire-contact a {background: linear-gradient(to top,var(--bg-lien) 0%,  var(--bg-lien) 5%, transparent 5.01%); background-size: 0% 100%; background-repeat: no-repeat; font-size: 19.5px;	color: var(--bg-lien); transition: background-size ease 0.3s;
	&:hover{background-size: 100% 100%; 
	}
	&:focus{outline: none ; background-size: 100% 100%; 
	}
}

// ==== switchDarkMode 

.container { position: fixed; bottom: 10px;	left: 5px; border-radius: 50px; margin: 0 0 5px 5px;
}

input[type=checkbox] { height: 0; width: 0; visibility: hidden;
}

label {	cursor: pointer; text-indent: -9999px; width: 50px;	height: 25px; background: grey;	float: right; border-radius: 100px;	position: relative;
}

label:after { content: ''; position: absolute; top: 3px; left: 3px; width: 20px; height: 20px; background: #fff; border-radius: 90px; -webkit-transition: 0.3s; transition: 0.3s;
}

input:checked + label { background: var(--color-headings);
}

input:checked + label:after { left: calc(100% - 5px); -webkit-transform: translateX(-100%); transform: translateX(-100%);
}

label:active:after {width: 45px;
}

// == MOBILE 

@media screen and (max-width: 1150px) {

//	==  headerMobile 
	.header{ display: flex;	align-items: center; justify-content: center; flex-flow: column nowrap;
	}
	
	.logo-image {width: 98.25px; height:100px ; background-size: contain; margin: 10px 0;
	}
	
	.navbar {min-width:300px; max-width: 100%; height: 1em;
	}

    .navbar-h1 { font-size:20px; white-space: nowrap;
	}

	// ==  mainMobile 
	
	.main .display-none { display: block; color: var(--color-text);
	}

	.main{height: auto; width: 100%; flex-direction: column;  background: none; align-items: center;
	}

	.main > div {min-width: 280px; max-width: 500px; display: flex; flex-flow: column; flex-basis: 33.33%; text-align: center; margin: 20px 10px 5px 10px; 
	}

	.main .btn {margin: 25px; font-size: 18px;
		}
	
	.main h3 { padding: 15px 0 10px; font-size: 17.5px;
	}

	.main h3[data-theme="dark"]{color: var(--color-text);
	}
	.main p { font-size: 15px; line-height: 1.3em; padding: 0;
	}

	.main p[data-theme="dark"]{color: var(--color-text);
	}

	.petite-ecole-contact :last-child { padding: 5px 0 0 ;
	}

	.ecole-secondaire-contact :last-child {	padding: 5px 0 0;
	}

	.ecole-internat-contact :last-child { padding: 5px 0 0;
	}

	.ecole-secondaire-contact a { font-size: 16px;
	}

	.ecole-internat { margin: 0 0 20px;
	}
	
   	// == FooterMobile 

	.footer { display: none;
	}
} 
}

// == Accueil 
.page-wrapper {
	// == Pour ecran 1080p standart 16/9 ==
	max-width: 1920px;
}

#accueil {
	background-color: $bglight; 
	width: 100%; 
	height: 100vh; 

// == navbar 
nav {
	justify-content: space-around;
	min-height: 95px;
	background-color: $bgnavbar;
	font-family: 'inter_bold';
	color: $textnavbar;
	font-size: 22.5px;
	letter-spacing: 1px;
}

.nav-links{
	justify-content: space-around;
	margin-left: $space-section * 0.9;
	// on peut jouer avec la largeur pour espacer les LI de la NAV :)
	width: 80%;
	z-index: 100;
		i{
		margin:0 10px 0 10px ;
		color: $letterscolor;
	}
		li{
		cursor: pointer;
	}
}

.nav-links :nth-child(2) {position: relative;}

.logo{
	top: 17px;
	left: 37px;
	background-color: $textnavbar;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 100;
	.logo img{
		transform: translateY(-5px);
	}
}

.burger {
	display: none;
		div {
		width: 25px; 
		height: 3px;
		background-color: $textnavbar;
		margin: 5px;
		border-radius: 25px;
		transition: all 0.3s ease;
	}
}

@media screen and (max-width:1024px) {
	.nav-links{
		width: 75%;
	}
}

@media screen and (max-width:768px) {
	body {
		overflow-x: hidden;
	}

	.nav-links{
		position: absolute;
		right: 0;
		height: calc(100vh - 95px) ;
		top: 93px;
		background-color: $bgnavbar;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.nav-links li {
		opacity: 0;
	}

	.burger {
		display: block;
		margin-right: 35px;
		cursor: pointer;
	}

	nav {
		justify-content: flex-end;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle {
	.lin1{
		transform: rotate(-45deg) translate(-5px,6px);
	}
	.lin2{
		opacity: 0;

	}
	.lin3{
		transform: rotate(45deg) translate(-5px,-6px);
	}
}

// == section upper == presentation video et infos importante == 
.upper-container {
	max-width: 1700px;
	min-width: 1100px;
	justify-content: space-between;
	align-items: flex-start;
	margin: $space-section 2em ($space-section / 4) 62px;
}

.title_video span{
	color: $contrast;
}

.video_iframe{ 
	margin-top: $gap;
	border-radius: 0 25px 0  25px ;
	//box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25); 
}

.infos-upper {
	margin-left: $gap * 5;
}

.infos_square{
	max-width: 850px;
	min-width: 300px;
	min-height: 223px; 
	max-height: 499px;
	padding: 1em 1em 0 2em;
	margin-top: $gap;
	border: 0.8px solid $border; 
	border-radius: 4px;  
	background: $cardbg;
	line-height: 1.4em; 
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);  
	p {
		margin-bottom: 0.7em;
		a {
			color: $pink;
			text-decoration: underline;
		}
		span {
			color: $red;
		}
	}
}

@media #{$upperBreak} {
		
	.upper-container {
		flex-flow: nowrap column;
		min-width: 100px;
		max-width: 1100px;
		align-items: center;
		margin: ($space-section / 1.3) auto ($space-section / 2) auto;
		font-size: 16px;
		h2 {
			text-align: center;	
		}
		.title_video {
			padding: 0 10vw;
		}

		.video-show {
			max-width:810px;
			padding: 0 1em;
		}
		
		.ratio {
			position: relative;
		}
		
		.ratio::before { 
			content: '';
			display: block;
			padding-bottom: 56.25%;
		}
		
		.video_iframe{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%; 
		}

		.infos-upper {
			margin-top: 100px;
			margin-left: 0;
			align-self: center;
			padding: 0 1em;
		}

		.infos_square {
			max-height: 400px;
			min-width: 10%;
			max-width: 600px;
		}
	}	
	.button_scroll {
		display: none;
	}
}

// == button scroll
.button_scroll{ 
	width: 3.5rem; 
	height: 28px; 
	background-color: $bgbutton; 
	border-radius: 3.5px; 
	color: $letterscolor;
	font-size: 25px;
}

// == section center == A la une == 
.actu{
	margin-top: $gap - 12.5px;
	padding: 0 10px;
	background:linear-gradient(to top, $bglight, $bglight) left bottom/100% 90px no-repeat $bgdark; 
	grid-template-columns: 1fr 90px 90px 240px 2.5fr 330px 2.5fr 330px 1fr 1fr ;
	grid-template-rows: 148px 194px 215px;
	grid-gap: 0;
}
.actu_title{
	grid-area: 1 / 2 / 2 / span 2;
	padding-top: 25px;
}
.scribe{
	grid-area: 1 / 3 / 1 / 3;
	padding-top: $gap - 10px;
}
.arrow_previous{
	grid-area:2 / 1 / 2 / 1;
}

.container-cards {
	grid-area:2 / 2 / span 2 / span 8;
	justify-content: space-around;
}

.card-actu_little1, .card-actu_little2, .card-actu_little3{
	display: grid;
	grid-template-columns: 324px 1176px;
	grid-template-rows: 168px 24px 172px 38px 7px;
	grid-gap: 0;
	width:330px;
	height: 407px;
	.img-card{
		grid-area:1 / 1 / span 2 / 1 ;
		width: 100%;
		height: 192px;
		background-image: url(img/card-test.jpg);
		background-size: cover;
		border-radius: 25px;
		z-index: 150;
	}
	.text-bg_card{
		grid-area: 2 / 1 / span 2 / span 1;
		margin: 0 0.55em;
		min-height: 232px;
		background-color: $cardbg;
		justify-self: center;
		border: 1px solid $border;
		border-radius: 25px;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
		z-index: 99;
		font-size: 18.5px;
	}
	.text-bg_card p {
		padding: 45px 2% 0 5%;
		align-self: flex-start;
	}
	.line {
		grid-area: 4 / 1 / span 1 / span 1;
		width: 125px;
		height: 0;
		border: 1px solid $linedark;
		z-index: 101;
		border-radius: 25px;
		align-self: center;
		justify-self: center;
	}
	.btn_more{
		grid-area: 4 / 1 / span 2 / 1;
		align-self: flex-end;
		justify-self: flex-end;	
		width: 45px;
		height: 45px;
		background: $cardbg;
		border: 1px solid $border;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		z-index: 102;
	}
}

.btn_more:hover {
	transform: scale(1.15);
}
@keyframes rotate {
	100% {
	transform: rotate(1turn);
	}
}

.show-more-infos{
	cursor:pointer;
}

.arrow_next{
	grid-area: 2 / 10 / span 1 / span 1;
	transform: rotate(180deg);
}
/*
.card-actu_little1 .text-bg_card{   //exemple de pour quand js deploy
	justify-self: flex-start;
	width: 70vw;
	min-height: 280px;
	z-index: 120; 
}
*/
// Media query A la une 
$upper: 1300px;

@media #{$upperBreak} {
	.card-actu_little3 {
		display: none;
	}
	.container-cards {
		width: 85%;
		justify-content: space-around;
		margin: 0 auto;
	}
	.actu {
		grid-template-columns: 1fr 90px 90px 240px 5fr 330px 1fr 1fr ;
	}
}
// maybe en display flex pour le petit ecran ? Ca serait plus simple non ?
@media #{$actuBreak} {
	.card-actu_little2 {
		display: none;
	}
	.container-cards {
		justify-content: center;
		margin: 0 auto;
	}
	.actu .arrow_previous {
		grid-area: 2 / 2 / span 1 / span 1;
	}
	.actu .arrow_next {
		grid-area: 2 / 6 / span 1 / span 1;
		justify-self: flex-end;
	}
}

// == section bottom ==
section.bottom{
	margin:($space-section / 2) auto ($space-section / 3) auto ;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 ($gap * 2);
	max-width: 1450px;
}

.card-inscriptions, .card-eel {
	flex-flow: nowrap column;
	align-items: center;
	justify-content: flex-start;
	width: 533px;
	line-height: 1.5em;
	.img {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		margin: 20px 0;
		background-image: url(img/inscriptions.jpg);
		background-position: center;
		background-size:cover;
		border-radius: 50px ;
	}

	p {
		margin-bottom: 19px;
		align-self: flex-start;
		padding: 0 16px ;
	}

	.line-bottom {
		justify-self: flex-end;
		width: 60%;
		height: 0.1px;
		background-color: $letterscolor;
		border-radius: 5px;
	}
}
.card-inscriptions span {
	color:$green;
}

.card-eel .img {
	background-image: url(img/online_school.jpg);
}

.card-eel a{
	color: $pink;
	cursor: pointer;
}

// media query section.bottom
@media #{$bottomBreak} {
	section.bottom {
		flex-flow: nowrap column;
		align-items: center;
		padding: 0;
	}

	.card-inscriptions p, .card-eel p {
		align-self: center;
		text-align: center;
		padding: 0 25px;
	}

	.card-eel .line-bottom {
		display: none;
	}
}

@media #{$bottomBreak2} {
	.card-eel {
		margin-top: $gap * 2;
	}
	.card-inscriptions, .card-eel {
		width: 90%;
	}
}


// == forms ==
.triangle-bg {
	width: 280px;
	height: 280px;
	z-index: 100;
	position: absolute;
	right:0px;
	top: 504.64px;
	clip-path: polygon(94% 14%, 100% 25%, 100% 81%, 61% 90%);
	background-color: $bgdark;
	z-index: -10;
}
.square-bg {
	clip-path: polygon(0 20%, 14% 21%, 35% 75%, 0 99%);
	width: 280px; 
	height: 280px;
	position: absolute;
	left: 0;
	top: 250px;
	background-color: $bgdark;
	z-index: -10;
}
.square-form-invoid {
	clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
	width: 280px; 
	height: 280px;
	position: absolute;
	left: -140px;
	bottom: -120px;
	background-color: $bgdark;
	transform: rotate(20deg);
	z-index: -10;
}
.paralleleograme {
	clip-path: polygon(62% 49%, 100% 73%, 100% 100%, 63% 78%);
	width: 280px; 
	height: 280px;
	position: absolute;
	right: 0;
	bottom: 350px;
	background-color: $bgdark;
	z-index: -10;
}










// == NE SURTOUT PAS ENLEVER LE CROCHET EN DESSOUS == //
}

#naviguation { 
	color: black;
	width: 100%; 
	height: 100vh;
	background-color: $bglight; 

container-nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	ul {
		position: fixed;
		display: flex;
		flex-flow: nowrap column;
		justify-content: space-around;
		align-items: center;
		height: 590px;
	}
	
	li {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 225px;
		max-width: 400px;
		height: 79px;
		background: #171933;
		border-radius: 3px;
	}
	button {
		min-width: 200px;
		max-width: 350px;
		height: 57px;
		background: #171933;
		border: 1px solid #2A2E5E;
		border-radius: 3px;
		outline: none;
		font-size: 22.5px;
		font-family: 'inter';
		color: $textnavbar;
	}
	.container-federation-logo {
		display: none;
		position: fixed;
		left: 15px;
		bottom: 15px;
		h2 {
			color: $textnavbar;
			color: white;
			font-size: 22.5px;
			font-family: 'inter';
			margin-bottom: $space;
		}
		.logo-fed {
			width: 144px;
			height: 112px;
			border-radius: 5px;
		}
	}
	
}

}
