/* organisation css:{

	POSITION + MARGIN, PADDING

	BORDERS

	BACKGROUND

	TEXT

	AUTRES

} */

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}


/* ======================================  FONTS ================================== */

h1, h2{
	font-family: 'Montserrat', sans-serif;
}

h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
}

a {
	font-family: 'PT Sans', sans-serif;
}


/* =============================================   VARIABLES  =========================*/

:root{
	--clic: rgb(245, 35, 52);
}

/* ======================================  PAGE D'ACCEUIL ========================= */



/* ====================================== header ================================= */

html{
	box-sizing: border-box;
}


body{
	background-color:#016573;
	width: 100%;
	height: 100%;
}


.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row nowrap;
}

.header{
	justify-content: space-between;
	margin: 0 3.75%;
}

.logo-image{
	display: block;
	width: 196.5px;
	height:200px;
	margin: 40px 0;

	background-image: url("img/LOGO-blanc.png");

	cursor: pointer;
}


.navbar{
	height: 2em;
	width: calc(95% - 196.5px);

	border-radius: 5px;
	
	background-color:#ffffff;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);

	font-size: 50px;
	text-transform: uppercase;
}

.navbar-h1 {
	color: rgb(0, 0, 0);
	text-transform: uppercase;
}

.nav-bar-h1 span{
	font-size: 55px ;	
}


 /* ============================================   main  ======================== */ 


.main{
	justify-content: space-between;
	height: 550px;
	width: 100%;

	background-image: url(img/595349517_2000px-600px.png);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	background-size: contain;
}

.petite-ecole,.ecole-secondaire,.ecole-internat {
	height: 100%;
	width: 100%;
}

.main button {
	position: fixed;
	top: 50%;
	padding: 9px 25px;

	border: none;
	border-radius: 50px;

	background-color: rgb(255, 255, 255);
	
    transition: all 0.3s ease 0s;
	cursor:pointer;
	box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.20)
}

.main button:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.main button a {	
	font-size: 27.5px;
	color: black;
	font-weight: 600;
}



 /* ======== TELEPHONE DESACTIVE ============== */ 

.display-none {
	display: none;
}


/* ====================================   footer  ================================ */ 

/* Dégradé:

	background: linear-gradient(90deg, rgb(62, 62, 122) 0%,
	rgba(76, 148, 142, 0.45) 50%, 
	rgba(2,0,36,1) 100%);
	*/



.footer{
	clear: both;
	justify-content: space-between;
	margin: 40px 3.75%;
	
    border-radius: 5px;

	background-color: rgba(75, 134, 197, 0.89);
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
}

footer > div {
	width: 33%;
}

footer h3 {
	padding: 40px 0 25px;

	font-size: 27.5px;
	color: rgb(212, 213, 255);
}

.footer p {
	font-size: 16.5px;
	font-weight: 300;
	line-height: 1.4em;
	color: rgb(255, 255, 255);
	font-family: 'Roboto Slab', serif;
}

.petite-ecole-contact {
	margin-left: 4.5%;
}

.petite-ecole-contact :last-child {
	margin: 20px 0;
}

.ecole-secondaire-contact {
	text-align: center;
}

.ecole-secondaire-contact :last-child {
	margin: 15px 0 15px;
}

.ecole-internat-contact {
	margin-right: 4.5%;
	text-align: right;
}

.ecole-internat-contact :last-child {
	margin: 20px 0;
}


mailto lien 

.ecole-secondaire-contact a {
	background: linear-gradient(to top, rgba(245, 35, 52, 1) 0%,  rgba(245, 35, 52, 1) 5%, transparent 5.01%);
	background-size: 0% 100%;
	background-repeat: no-repeat;

	font-size: 19.5px;
	color: var(--clic);

	transition: background-size ease 0.3s;
}

.ecole-secondaire-contact a:hover{
	background-size: 100% 100%;
}




 /* =============================  Téléphone  ============================== */ 




@media screen and (max-width: 1150px) {

/*	===============  header ================ */
	
	.header{
		flex-flow: column ;
		justify-content: center;
		align-items: center;
	}	
	
	.navbar {
		width: 100%;
	}

    .navbar-h1 {
		font-size:30px;
	}

	.navbar-h1 span {
		font-size: 30px;
	}

	/* ===================  main ================ */
	
    .main {
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	.main > div {
		width: 65%;
	}

    .petite-ecole .image {
		background-position: 0px -175px;
		
	}

	.ecole-secondaire .image {
		background-position: 0px -120px;
		
	}

	.ecole-internat .image {
		background-position: 0px -200px;
		
	}

	.footer {
		display: none;
	}

	.display-none {
		display: block;
		position: relative;
		
		text-align: center;
	}
	
	.display-none::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 7.5%;
		width: 85%;
		height: 2px;

		background-color: black;
	}

	.display-none a {
		font-weight: 400;
	}

	.petite-ecole-contact {
		text-align: center;
		margin: 0;
	}

	.ecole-internat-contact {
		text-align: center;
		margin: 0 0 20px;
	}

	.main h3 {
		text-align: center;
		padding: 25px 0 18.5px;
	}
	


}

