/* RESET */
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: var(--letterscolor);
  text-decoration: none;
}

a:visited {
  color: var(--letterscolor);
  text-decoration: none;
}

/* ======================================  FONTS ================================== */
@font-face {
  font-family: "inter";
  src: url(fonts/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "inter_bold";
  src: url(fonts/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
}
:root {
  --bgnavbar: #2C316F;
  --textnavbar: #E7F8FF;
  --turquoise: #22789C;
  --bglight: #1B1E3D;
  --bgdark: #171933;
  --letterscolor: #D4DCFF;
  --pink: #D68FD6;
  --contrast: #5396e7;
  --border: #2a2e5e;
  --cardbg:#22244D;
  --bgbutton:#2C316F;
  --arrow:#BBCCE0;
}

/* organisation css:{

	POSITION + MARGIN, PADDING

	BORDERS

	BACKGROUND

	TEXT

	AUTRES

	margin ou padding : top left bottom right ( C'est un cercle si on veut, ou l'on part du haut et on y reviens en allant de gauche a droite ).
} */
:root {
  --bgnavbar: #2C316F;
  --textnavbar: #E7F8FF;
  --turquoise: #22789C;
  --bglight: #1B1E3D;
  --bgdark: #171933;
  --letterscolor: #D4DCFF;
  --pink: #D68FD6;
  --contrast: #5396e7;
  --border: #2a2e5e;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: var(--bglight);
}

::-webkit-scrollbar-track {
  background: var(--bglight);
  padding: 1px;
}

::selection {
  background: var(--contrast);
  color: #fff;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}

#main_index {
  background-color: var(--bg);
  width: 100%;
  height: 100vh;
  position: relative;
  --bg: #212121;
  --bg-navbar:#212121;
  --bg-button:#468ACE;
  --bg-lien:#C46FC4;
  --color-text:#FFFFFF;
  --color-headings: #468ACE;
}
#main_index .header {
  justify-content: space-between;
  margin: 0 3.75%;
}
#main_index .logo-image {
  display: block;
  width: 196.5px;
  height: 200px;
  margin: 40px 0;
  background-image: url("img/LOGO-blanc.png");
  cursor: pointer;
}
#main_index .navbar {
  width: calc(95% - 196.5px);
  height: 2em;
  border-radius: 35px;
  background-color: var(--bg-navbar);
  font-size: 50px;
  text-transform: uppercase;
  box-shadow: -4px -4px 4px -1.5px rgba(255, 255, 255, 0.25), 8px 8px 4px -1.5px rgba(0, 0, 0, 0.25);
}
#main_index .navbar h1 {
  color: var(--color-text);
}
#main_index .navbar[data-theme=dark] {
  border-top-left-radius: 0.5px solid var(--bg-button);
}
#main_index .navbar[data-theme=dark] h1 {
  color: var(--color-text);
}
#main_index .main {
  position: relative;
  justify-content: space-between;
  height: 45%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(img/book.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#main_index .main .btn {
  padding: 11px 25px;
  border-radius: 50px;
  background-color: var(--bg-button);
  font-size: 30px;
  color: var(--color-text);
  font-weight: 400;
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3);
}
#main_index .main .btn:focus {
  outline: none;
  transform: scale(1.15, 1.15);
  box-shadow: none;
  background-color: #1481EE;
  color: black;
}
#main_index .main .btn:active {
  transition: all 0.1s ease 0s;
  background-color: #1973ce;
}
#main_index .main a:hover {
  transform: scale(1.15, 1.15);
  box-shadow: none;
}
#main_index .main[data-theme=dark] .btn {
  background-color: var(--bg-button);
}
#main_index .main[data-theme=dark] .btn:active [data-theme=dark] {
  transition: all 0.1s ease 0s;
  background-color: #c46a10;
}
#main_index .petite-ecole, #main_index .ecole-secondaire, #main_index .ecole-internat {
  width: 100%;
}
#main_index .display-none {
  display: none;
}
#main_index .footer {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
#main_index .footer h3 {
  padding: 0 0 27.5px;
  font-size: 30px;
  color: var(--color-text);
}
#main_index .footer div {
  min-height: 235px;
  text-align: center;
  margin-bottom: 25px;
}
#main_index .footer p {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.4em;
  color: var(--color-text);
  font-family: "Roboto Slab", serif;
}
#main_index .petite-ecole-contact, #main_index .ecole-secondaire-contact, #main_index .ecole-internat-contact {
  width: 100%;
  box-shadow: -4px -4px 4px -1.5px rgba(255, 255, 255, 0.25), 8px 8px 4px -1.5px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin: 0 100px;
  padding: 20px 0 10px;
}
#main_index .petite-ecole-contact {
  padding-left: 0%;
}
#main_index .petite-ecole-contact :last-child {
  padding: 20px 0;
}
#main_index .ecole-secondaire-contact :last-child {
  padding: 20px 0;
}
#main_index .ecole-secondaire-contact :last-child a {
  padding: 0;
}
#main_index .ecole-internat-contact {
  padding-right: 0%;
}
#main_index .ecole-secondaire-contact a {
  background: linear-gradient(to top, var(--bg-lien) 0%, var(--bg-lien) 5%, transparent 5.01%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  font-size: 19.5px;
  color: var(--bg-lien);
  transition: background-size ease 0.3s;
}
#main_index .ecole-secondaire-contact a:hover {
  background-size: 100% 100%;
}
#main_index .ecole-secondaire-contact a:focus {
  outline: none;
  background-size: 100% 100%;
}
#main_index .container {
  position: fixed;
  bottom: 10px;
  left: 5px;
  border-radius: 50px;
  margin: 0 0 5px 5px;
}
#main_index input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
#main_index label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}
#main_index label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#main_index input:checked + label {
  background: var(--color-headings);
}
#main_index input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
#main_index label:active:after {
  width: 45px;
}
#main_index html.transition, #main_index html.transition *, #main_index html.transition *:before, #main_index html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
  transition-delay: 0 !important;
}
@media screen and (max-width: 1150px) {
  #main_index .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }
  #main_index .logo-image {
    width: 98.25px;
    height: 100px;
    background-size: contain;
    margin: 10px 0;
  }
  #main_index .navbar {
    width: 100%;
    height: 1em;
  }
  #main_index .navbar-h1 {
    font-size: 20px;
    white-space: nowrap;
  }
  #main_index .main .display-none {
    display: block;
    color: var(--color-text);
  }
  #main_index .main {
    min-height: calc(100% - 380px);
    flex-flow: column;
    justify-content: space-between;
    background: none;
  }
  #main_index .main > div {
    display: flex;
    flex-flow: column;
    flex-basis: 33.33%;
    text-align: center;
    margin: 20px 0 5px;
  }
  #main_index .main:first-child {
    margin: 0px 0 20px;
  }
  #main_index .main:nth-child(2) {
    margin: 20px 0;
  }
  #main_index .main:last-child {
    margin: 20px 0;
  }
  #main_index .main .btn {
    font-size: 18px;
  }
  #main_index .main h3 {
    padding: 15px 0 10px;
    font-size: 17.5px;
  }
  #main_index .main h3[data-theme=dark] {
    color: var(--color-text);
  }
  #main_index .main p {
    font-size: 15px;
    line-height: 1.3em;
    padding: 0;
  }
  #main_index .main p[data-theme=dark] {
    color: var(--color-text);
  }
  #main_index .petite-ecole-contact :last-child {
    padding: 5px 0 0;
  }
  #main_index .ecole-secondaire-contact :last-child {
    padding: 5px 0 0;
  }
  #main_index .ecole-internat-contact :last-child {
    padding: 5px 0 0;
  }
  #main_index .ecole-secondaire-contact a {
    font-size: 16px;
  }
  #main_index .ecole-internat {
    margin: 0 0 20px;
  }
  #main_index .footer {
    display: none;
  }
}

#accueil {
  background-color: var(--bglight);
  width: 100%;
  height: 100vh;
  position: relative;
}
#accueil .navbar {
  background-image: url(img/mapute.png);
  background-size: fill;
  background-repeat: no-repeat;
  height: 137px;
  width: 100%;
}
#accueil .circle_logo {
  margin-top: 22px;
  margin-left: 37px;
  background-color: var(--textnavbar);
  width: 170px;
  height: 170px;
  border-radius: 50%;
  float: left;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  background-position: center center;
}
#accueil .logo {
  float: left;
  margin-top: 15px;
  margin-left: 25px;
  background-image: url(img/logonet.png);
  width: 121px;
  height: 123px;
  background-repeat: no-repeat;
  background-size: cover;
}
#accueil .menu_nav {
  height: 115px;
  color: var(--textnavbar);
  justify-content: space-between;
  padding: 0 7.5% 0;
  font-family: "inter_bold";
  font-size: 20px;
  letter-spacing: 1px;
  align-items: center;
}
#accueil .menu_nav :first-child {
  position: relative;
}
#accueil .menu_nav :first-child::before {
  content: url(img/house.svg);
  position: absolute;
  left: -2em;
  top: -0.1em;
}
#accueil .menu_nav :nth-child(3) {
  position: relative;
}
#accueil .menu_nav :nth-child(3)::after {
  content: url(img/happy.svg);
  position: absolute;
  right: -1.2em;
  top: -0.1em;
}
#accueil .menu_nav :last-child {
  position: relative;
}
#accueil .menu_nav :last-child::before {
  content: url(img/phone.svg);
  position: absolute;
  left: -1.8em;
  top: -0.35em;
}
#accueil .upper {
  position: relative;
  height: 666px;
  clear: both;
}
#accueil .video_presentation {
  float: left;
  padding-left: 62px;
  padding-top: 29px;
}
#accueil .video_presentation h2 {
  font-family: "inter_bold";
  font-size: 29px;
  line-height: 35px;
  color: var(--letterscolor);
}
#accueil .video_presentation h2 span {
  color: var(--contrast);
}
#accueil .video_presentation div {
  width: 42vw;
  height: 499px;
  margin-top: 30px;
  background: url(img/Secondaire-menu.jpg);
  background-size: cover;
  border-radius: 25px;
  background-position: center center;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
}
#accueil .button_video {
  width: 382px;
  height: 46px;
  background: var(--contrast);
  border-radius: 15px;
  border: none;
  font-family: "inter";
  color: #FFF;
  font-size: 22.5px;
  cursor: pointer;
}
.button_video :first-child {
  color: var(--letterscolor);
}
#accueil .infos_importantes {
  float: left;
  padding-top: 29px;
  padding-left: 111px;
  font-family: "inter_bold";
  font-size: 29px;
  line-height: 35px;
  color: var(--letterscolor);
}
#accueil .infos_importantes_carre {
  width: 707px;
  height: 223px;
  margin-top: 30px;
  background: var(--cardbg);
  border: 0.8px solid var(--border);
  border-radius: 4px;
  overflow: auto;
  font-family: "inter";
  font-size: 16px;
  padding-top: 20px;
  padding-left: 35px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#accueil .button_scroll {
  margin: 0 auto 0 auto;
  width: 58px;
  height: 28px;
  background-color: var(--bgbutton);
  border: none;
  padding: 0;
  border-radius: 4px;
  margin-bottom: 20px;
}
#accueil .button_scroll div .line1 {
  width: 16.5px;
  height: 1px;
  background-color: black;
  transform: translate(-5px) rotate(45deg);
  border: 0.2px solid black;
  border-radius: 5px;
}
#accueil .button_scroll div .line2 {
  width: 15px;
  height: 1px;
  background-color: black;
  transform: translate(6px) rotate(-45deg);
  border: 0.2px solid black;
  border-radius: 5px;
}
#accueil .section_center {
  width: 100%;
  min-height: 527px;
  background: linear-gradient(to top, var(--bglight), var(--bglight)) left bottom/100% 90px no-repeat var(--bgdark);
}
#accueil .section_center h2 {
  float: left;
  margin: 19px 0 0 62px;
  font-family: "inter_bold";
  font-size: 29px;
  line-height: 35px;
  color: var(--letterscolor);
}
#accueil .section_center .scribe_svg {
  float: left;
  margin: 13px 0 57px 27px;
  background-image: url(img/scribe.svg);
  width: 51px;
  height: 50px;
}
#accueil .section_center .container {
  clear: both;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  height: 407px;
}
#accueil .section_center .arrow_previous {
  align-self: center;
  background-image: url(img/arrow.svg);
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

/*# sourceMappingURL=style.css.map */
