* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: var(--letterscolor);
  text-decoration: none;
}

a:visited {
  color: var(--letterscolor);
  text-decoration: none;
}

button, form, textarea, input {
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

@font-face {
  font-family: "inter";
  src: url(fonts/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "inter_bold";
  src: url(fonts/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
}
.m-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.m-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.m-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.m-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.m-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mt-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.p-1 {
  padding: 0 1rem;
}

.p-2 {
  padding: 0 2rem;
}

.p-3 {
  padding: 0 3rem;
}

.p-4 {
  padding: 0 4rem;
}

.pt-1 {
  padding: 1rem 0;
}

.pt-2 {
  padding: 2rem 0;
}

.pt-3 {
  padding: 3rem 0;
}

.pt-4 {
  padding: 4rem 0;
}

img {
  max-width: 100%;
}

a {
  transition: color 0.3s;
  color: #D4DCFF;
  font-family: "inter";
}

hr {
  height: 1px;
  background: #2a2e5e;
  margin: 0;
  padding: 0;
  border: none;
}

.waves {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1920px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

header, section, main, footer, .container, .header, .footer, .main {
  width: 100%;
  padding-left: calc(50% - (1330px/ 2));
  padding-right: calc(50% - (1330px/ 2));
}

.ratio {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.inline {
  display: inline;
}

.grid {
  display: grid;
}

.flex {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.end {
  justify-content: flex-end;
}

.stretch {
  align-items: stretch;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.w100 {
  width: 100% !important;
}

.nowrap {
  flex-wrap: nowrap;
}

.sticky {
  position: sticky;
  top: calc(3 * 8px);
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}

.center-mg {
  margin-right: auto;
  margin-left: auto;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.bold {
  font-family: "inter_bold";
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.underline:hover {
  text-decoration: underline;
}

.text-danger {
  color: #f25353;
}

.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
}

h1 {
  font-family: "inter_bold";
  font-size: 40px;
  color: #D4DCFF;
}

h2 {
  font-family: "inter_bold";
  font-size: 35px;
  color: #D4DCFF;
}

h3 {
  font-family: "inter_bold";
  font-size: 29px;
  color: #D4DCFF;
}

h4 {
  font-family: "inter_bold";
  font-size: 22px;
  color: #D4DCFF;
}

p {
  font-family: "inter";
  font-size: 18.5px;
  color: #D4DCFF;
}

body .px1 {
  padding-left: calc(1 * 8px);
  padding-right: calc(1 * 8px);
}

body .px2 {
  padding-left: calc(2 * 8px);
  padding-right: calc(2 * 8px);
}

body .px3 {
  padding-left: calc(3 * 8px);
  padding-right: calc(3 * 8px);
}

body .px4 {
  padding-left: calc(4 * 8px);
  padding-right: calc(4 * 8px);
}

body .px5 {
  padding-left: calc(5 * 8px);
  padding-right: calc(5 * 8px);
}

.overflow-h {
  overflow: hidden;
}

.overflow-s {
  overflow: scroll;
}

.overflow-v {
  overflow: visible;
}

.overflow-a {
  overflow: auto;
}

.display-b {
  display: block;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clear {
  clear: both;
}

.font-normal {
  font-family: "inter";
  color: #D4DCFF;
  font-size: 18.5px;
}

.font-title {
  font-family: "inter_bold";
  font-size: 35px;
  color: #D4DCFF;
}

.modern-shadow {
  box-shadow: -4px -4px 4px -1.5px rgba(255, 255, 255, 0.25), 8px 8px 4px -1.5px rgba(0, 0, 0, 0.25);
}

.div-shadow {
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
}

.solid-shadow {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/*
../dart-sass/sass sass/style.scss style.css --watch
 */
::-webkit-scrollbar {
  width: 8.5px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #2a2e5e;
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: #1b1e3d;
}

::-webkit-scrollbar-track {
  background: #1b1e3d;
  padding: 1px;
}

::selection {
  background: #5396e7;
  color: #fff;
}

#accueil {
  background-color: #1b1e3d;
  width: 100%;
  height: 100vh;
  /*
  .card-actu_little1 .text-bg_card{   //exemple de pour quand js deploy
  	justify-self: flex-start;
  	width: 70vw;
  	min-height: 280px;
  	z-index: 120; 
  }
  */
}
#accueil header {
  margin-left: 110px;
  justify-content: center;
  padding-left: 25px;
  min-height: 95px;
  color: #E7F8FF;
  font-family: "inter_bold";
  letter-spacing: 1px;
}
#accueil .nav-links {
  font-size: 23px;
  font-weight: bold;
  justify-content: space-around;
  width: 80%;
  z-index: 100;
}
#accueil .nav-links i {
  margin: 0 10px 0 10px;
  color: #D4DCFF;
}
#accueil .nav-links li {
  cursor: pointer;
}
#accueil .nav-links :nth-child(2) {
  position: relative;
}
#accueil .logo-circle {
  top: 17px;
  left: 37px;
  background-color: #E7F8FF;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 100;
  overflow: hidden;
}
#accueil .logo-circle svg {
  width: 250px;
  height: 250.1px;
}
#accueil .burger {
  display: none;
  position: absolute;
  right: 15px;
  z-index: 300;
}
#accueil .burger div {
  width: 25px;
  height: 3px;
  background-color: #E7F8FF;
  margin: 5px;
  border-radius: 25px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  #accueil .nav-links {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  #accueil body {
    overflow-x: hidden;
  }
  #accueil .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #171a34e8;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 200;
  }
  #accueil .nav-links li {
    opacity: 0;
  }
  #accueil .burger {
    display: block;
    margin-right: 35px;
    cursor: pointer;
  }
  #accueil nav {
    justify-content: flex-end;
  }
}
#accueil .nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
#accueil .toggle .lin1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
#accueil .toggle .lin2 {
  opacity: 0;
}
#accueil .toggle .lin3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
#accueil .upper-container {
  justify-content: space-between;
  align-items: flex-start;
  padding: 150px 0 0 0;
}
#accueil .title_video span {
  color: #5396e7;
}
#accueil .video_iframe {
  margin-top: 25px;
  border-radius: 0 25px 0 25px;
}
#accueil .infos-upper {
  margin-left: 125px;
}
#accueil .infos_square {
  max-width: 850px;
  min-width: 300px;
  min-height: 223px;
  max-height: 499px;
  padding: 1em 1em 0 2em;
  margin-top: 25px;
  border: 0.8px solid #2a2e5e;
  border-radius: 4px;
  background: #22244D;
  line-height: 1.4em;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#accueil .infos_square p {
  margin-bottom: 1em;
}
#accueil .infos_square p a {
  color: #D68FD6;
  text-decoration: underline;
}
#accueil .infos_square p span {
  color: #f25353;
}
@media only screen and (max-width:1360px) {
  #accueil .upper-container {
    flex-flow: nowrap column;
    max-width: 1100px;
    align-items: center;
    font-size: 16px;
  }
  #accueil .upper-container h2 {
    text-align: center;
  }
  #accueil .upper-container .title_video {
    padding: 0 10vw;
  }
  #accueil .upper-container .video-show {
    max-width: 810px;
    padding: 0 1em;
  }
  #accueil .upper-container .ratio-video {
    position: relative;
  }
  #accueil .upper-container .ratio-video::before {
    content: "";
    display: block;
    padding-bottom: 56.25%;
  }
  #accueil .upper-container .video_iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  #accueil .upper-container .infos-upper {
    margin-top: 100px;
    margin-left: 0;
    align-self: center;
    padding: 0 1em;
  }
  #accueil .upper-container .infos_square {
    max-height: 250px;
    min-width: 10%;
    max-width: 600px;
  }
  #accueil .button_scroll {
    display: none;
  }
}
#accueil .button_scroll {
  z-index: 10;
  margin: calc((150px/2.5)) auto 0 auto;
  width: 4.5rem;
  height: 30px;
  background-color: #2C316F;
  border-radius: 50px;
  color: #D4DCFF;
  font-size: 25px;
}
#accueil .actu {
  margin-top: -12.5px;
  padding: 0 10px;
  background: linear-gradient(to top, #1b1e3d, #1b1e3d) left bottom/100% 90px no-repeat #171933;
  grid-template-columns: 1fr 90px 90px 240px 2.5fr 330px 2.5fr 330px 1fr 1fr;
  grid-template-rows: 148px 194px 215px;
  grid-gap: 0;
}
#accueil .actu_title {
  grid-area: 1/2/2/span 2;
  justify-self: flex-start;
  padding-top: 25px;
}
#accueil .scribe {
  grid-area: 1/3/1/3;
  justify-self: flex-end;
  padding-top: 15px;
}
#accueil .arrow_previous {
  grid-area: 2/1/2/1;
  align-self: flex-end;
  justify-self: flex-end;
}
#accueil .container-cards {
  grid-area: 2/2/span 2/span 8;
  justify-content: space-around;
}
#accueil .card-actu_little1, #accueil .card-actu_little2, #accueil .card-actu_little3 {
  display: grid;
  grid-template-columns: 324px 1176px;
  grid-template-rows: 168px 24px 172px 38px 7px;
  grid-gap: 0;
  width: 330px;
  height: 407px;
}
#accueil .card-actu_little1 .img-card, #accueil .card-actu_little2 .img-card, #accueil .card-actu_little3 .img-card {
  grid-area: 1/1/span 2/1;
  width: 100%;
  height: 192px;
  background-image: url(img/card-test.jpg);
  background-size: cover;
  border-radius: 25px;
  z-index: 150;
}
#accueil .card-actu_little1 .text-bg_card, #accueil .card-actu_little2 .text-bg_card, #accueil .card-actu_little3 .text-bg_card {
  grid-area: 2/1/span 2/span 1;
  margin: 0 0.55em;
  min-height: 232px;
  background-color: #22244D;
  justify-self: center;
  border: 1px solid #2a2e5e;
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 99;
  font-size: 18.5px;
}
#accueil .card-actu_little1 .text-bg_card p, #accueil .card-actu_little2 .text-bg_card p, #accueil .card-actu_little3 .text-bg_card p {
  padding: 45px 2% 0 5%;
  align-self: flex-start;
}
#accueil .card-actu_little1 .line, #accueil .card-actu_little2 .line, #accueil .card-actu_little3 .line {
  grid-area: 4/1/span 1/span 1;
  width: 125px;
  height: 0;
  border: 1px solid #161E3B;
  z-index: 101;
  border-radius: 25px;
  align-self: center;
  justify-self: center;
}
#accueil .card-actu_little1 .btn_more, #accueil .card-actu_little2 .btn_more, #accueil .card-actu_little3 .btn_more {
  grid-area: 4/1/span 2/1;
  align-self: flex-end;
  justify-self: flex-end;
  width: 45px;
  height: 45px;
  background: #22244D;
  border: 1px solid #2a2e5e;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  z-index: 102;
}
#accueil .btn_more:hover {
  transform: scale(1.15);
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
#accueil .show-more-infos {
  cursor: pointer;
}
#accueil .arrow_next {
  grid-area: 2/10/span 1/span 1;
  transform: rotate(180deg);
  align-self: flex-end;
  justify-self: flex-start;
}
@media only screen and (max-width:1360px) {
  #accueil .card-actu_little3 {
    display: none;
  }
  #accueil .container-cards {
    width: 85%;
    justify-content: space-around;
    margin: 0 auto;
  }
  #accueil .actu {
    grid-template-columns: 1fr 90px 90px 240px 5fr 330px 1fr 1fr;
  }
}
@media only screen and (max-width:1000px) {
  #accueil .card-actu_little2 {
    display: none;
  }
  #accueil .container-cards {
    justify-content: center;
    margin: 0 auto;
  }
  #accueil .actu .arrow_previous {
    grid-area: 2/2/span 1/span 1;
  }
  #accueil .actu .arrow_next {
    grid-area: 2/6/span 1/span 1;
    justify-self: flex-end;
  }
}
#accueil .bottom-container {
  align-items: flex-start;
  margin: 75px 0 50px 0;
  min-width: 1330px;
}
#accueil .card-inscriptions, #accueil .card-eel {
  flex-flow: nowrap column;
  align-items: center;
  justify-content: flex-start;
  width: 533px;
  line-height: 1.5em;
}
#accueil .card-inscriptions .img, #accueil .card-eel .img {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 20px 0;
  background: center/cover no-repeat url(img/inscriptions.jpg);
  border-radius: 50px;
}
#accueil .card-inscriptions p, #accueil .card-eel p {
  margin-bottom: 19px;
  align-self: flex-start;
  padding: 0 16px;
}
#accueil .card-inscriptions .line-bottom, #accueil .card-eel .line-bottom {
  justify-self: flex-end;
  width: 60%;
  height: 0.1px;
  background-color: #D4DCFF;
  border-radius: 5px;
}
#accueil .card-inscriptions span {
  color: #41cf7c;
}
#accueil .card-eel .img {
  background-image: url(img/online_school.jpg);
}
#accueil .card-eel a {
  color: #D68FD6;
  cursor: pointer;
}
@media only screen and (max-width:1360px) {
  #accueil .card-eel {
    margin-top: 30px;
  }
  #accueil .bottom-container {
    min-width: 200px;
    flex-flow: nowrap column;
    align-items: center;
    padding: 0;
  }
  #accueil .card-inscriptions p, #accueil .card-eel p {
    align-self: center;
    text-align: center;
    padding: 0 25px;
  }
  #accueil .card-eel .line-bottom {
    display: none;
  }
}
@media only screen and (max-width:600px) {
  #accueil .card-inscriptions, #accueil .card-eel {
    width: 90%;
  }
}
#accueil .triangle-bg, #accueil .square-bg, #accueil .square-form-invoid, #accueil .paralleleograme {
  width: 280px;
  height: 280px;
  position: absolute;
  background-color: #171933;
  z-index: -10;
}
#accueil .triangle-bg {
  right: 0px;
  top: 504.64px;
  clip-path: polygon(94% 14%, 100% 25%, 100% 81%, 61% 90%);
}
#accueil .square-bg {
  clip-path: polygon(0 20%, 14% 21%, 35% 75%, 0 99%);
  left: 0;
  top: 250px;
}
#accueil .square-form-invoid {
  clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  left: -140px;
  bottom: 225px;
  transform: rotate(20deg);
}
#accueil .paralleleograme {
  clip-path: polygon(62% 49%, 100% 73%, 100% 100%, 63% 78%);
  right: 0;
  bottom: 625px;
}

#footer {
  background: #171933;
  height: 623px;
  align-items: flex-start;
}
#footer .gold-book form, #footer .newsletter form {
  flex-flow: column;
  align-items: flex-start;
}
#footer textarea {
  background: #1b1e3d;
  max-width: 530px;
  height: 287px;
  padding: 1.5em 2em;
}
#footer .submit-btn, #footer .cancel-btn, #footer .subscribe-btn {
  font-size: 22px;
  border-radius: 25px;
  padding: 0.24em 2.2em;
  color: white;
}
#footer .cancel-btn {
  background: #f25353;
}
#footer .submit-btn {
  background: #5396e7;
}
#footer .subscribe-btn {
  background: #41cf7c;
}
#footer .email-input {
  background: #171933;
  border: 4px solid #2a2e5e;
  border-radius: 4px;
  font-size: 22px;
  width: 402px;
  height: 58px;
  padding: 0 0 0 15px;
}
#footer .network {
  position: absolute;
  bottom: 0;
  right: 0;
  flex-flow: column;
}
#footer .network img {
  border-radius: 4px;
}
#footer .network img:hover, #footer .social-media img:hover, #footer .submit-btn:hover, #footer .cancel-btn:hover, #footer .subscribe-btn:hover {
  transform: scale(1.08);
}
#footer .network img, #footer .social-media img, #footer .submit-btn, #footer .cancel-btn, #footer .subscribe-btn {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#naviguation {
  color: black;
  width: 100%;
  height: 100vh;
  background-color: #1b1e3d;
}
#naviguation container-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
#naviguation container-nav ul {
  position: fixed;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-around;
  align-items: center;
  height: 590px;
  max-height: 100vh;
}
#naviguation container-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  max-height: 79px;
  min-height: 50px;
  background: #171933;
  border-radius: 3px;
}
#naviguation container-nav button {
  width: 300px;
  min-height: 57px;
  background: #171933;
  border: 1px solid #2A2E5E;
  border-radius: 3px;
  font-size: 22.5px;
  font-family: "inter";
  color: #E7F8FF;
}
#naviguation container-nav .container-federation-logo {
  display: none;
  position: fixed;
  left: 15px;
  bottom: 15px;
}
#naviguation container-nav .container-federation-logo h2 {
  color: #E7F8FF;
  color: white;
  font-size: 22.5px;
  font-family: "inter";
  margin-bottom: 8px;
}
#naviguation container-nav .container-federation-logo .logo-fed {
  width: 144px;
  height: 112px;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
