// == Erreure 404 page ==
#page404 {
	background: url(../img/bg404.png), $bgdark ;
	backdrop-filter: blur(4px);

	main.error404 {
		height: 100vh;
	}

	.container-404 {
		@extend %container;
		@extend %grid-text-vertical;
		@extend .card;
		max-width: 1100px;
		padding: $card-padding;
		grid-template-columns: 1fr 1.5fr;
		align-items: center;
		border-radius: 25px;
	}

	a {
		color: $contrast;
		&:hover {
			color: darken($contrast, 15%);
		}
	}
}

@include down(850) {
	#page404 .container-404{
		grid-template-columns: 1fr;
		justify-items: center;
		text-align: center;

		svg {
			width: 50vw;
		}
	}
}
