// buttons de formulaire
form button {
  padding: .4em 2em;
  background: $contrast;
  border: 1px solid $contrast;
  border-radius: 50px;
  font-size: 18px;
  color: $color-dark;
  transition: all .3s;

  &:hover {
    filter: brightness(1.2);
  }

  &[type=reset] {
    background: transparent;
    color: $red;
    border: 1px solid $red;

    &:hover {
      background: $red;
      color: $color-dark;
    }
  }
}