	#footer {
		@extend %big-main;
		border-top: 2px solid $contrast25;
		z-index: 1;
		display: grid;
		grid-template-columns: repeat(2, 1fr) ;
		gap: $gap * 5;
		padding-top: $space-section / 2;
		padding-bottom: $space-section / 2;

		textarea {
			background: $bgcard;
		}

	}

	.goldBook form , .newsletter form, .goldBook, .newsletter {
		@extend .grid-text-vertical;
	}

	.newsletter {
		height: fit-content;
	}

	.newsletter__mail{
		@extend .card;
	}

	.network-footer {
		position: absolute;
		bottom:20px;
		right: 20px;
		img {
			border-radius: 4px;
			transition: all .25s ease-in;
			&:hover {
				transform: scale(1.08);
			}
		}
	}

	


// Logo Aru1 
// =======================
// @media only screen and (min-width:1360px) {
// 	#footer::after {
// 		content: "";
// 		position: absolute;
// 		top: 30px;
// 		left: 50px;
// 		background: url(img/svg/logo-aru1-bg.svg) no-repeat;
// 		width: 250%;
// 		height: 250%;
// 		transform: rotate(10deg);
//     	z-index: -1;
// 	}
// }