	.friends-container {
		@extend %container-margin;
		@extend .card;
		@extend %grid-text-vertical;
		margin: $space-section/2 auto;
		padding: $card-padding * 2;
		ul {
			list-style:disc ;
			margin:1.3rem 1rem;
			p {
				margin: .8rem 0;
			}
		}
		.quote {
			font-style: italic;
		}
	}
	