.index-main, .index-footer__container {
	@extend %grid-fit;
	img {
		transition: transform .3s ease;
		transform: scale(1.1);
		&:hover {
			transform: scale(1.15);
		}
	}
}

.index-footer {
	@extend %big-main;

	h4 {
		margin-bottom: .7rem
	}

	.index-footer__container {
		> div {
			@extend .card-modern;
			h4 {
				@extend %h5-medium;
			}
		}
	}
}

