.index-main, .index-footer  {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: $gap * 2.5;

	img {
		transition: transform .3s ease;
		transform: scale(1.1);
		&:hover {
			transform: scale(1.15);
		}
	}
}

.index-footer {
	@extend %big-main;
	row-gap: $gap;
	padding-top: $card-padding * 2;
	padding-bottom: $card-padding * 2;

	h3 {
		grid-area: 1/1/span 1/span 1;
		align-self: center;
		justify-self: flex-start;
	}

	> div {
		@extend .card-modern;
		@extend .grid-text-vertical;
		gap: $gap / 3;
		h4 {
			@extend .h4-medium;
		}
	}

	.contact-1 {
		grid-area: 2 / 1 / span 1 / span 1;
	}

	.contact-2 {
		grid-area: 2 / 2 / span 1 / span 1;
	}

	.contact-3 {
		grid-area: 2 / 3 / span 1 / span 1;
	}
}

.container-overflow {
	overflow: hidden;
	border-radius: 15px;
}