.index-main, .index-footer  {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: $gap * 2.5;

	img {
		transition: transform .3s ease;
		transform: scale(1.1);
		&:hover {
			transform: scale(1.15);
		}
	}
}

.index-footer {
	@extend %big-main;
	row-gap: $gap;
	padding-top: $card-padding * 2;
	padding-bottom: $card-padding * 2;

	h3 {
		grid-area: 1/1/span 1/span 1;
		align-self: center;
		justify-self: flex-start;
	}

	> div {
		@extend .card-modern;
		@extend .grid-text-vertical;
		gap: $gap / 3;
		h4 {
			@extend .h4-medium;
		}
	}

	.contact-1 {
		grid-area: 2 / 1 / span 1 / span 1;
	}

	.contact-2 {
		grid-area: 2 / 2 / span 1 / span 1;
	}

	.contact-3 {
		grid-area: 2 / 3 / span 1 / span 1;
	}
}

.container-overflow {
	overflow: hidden;
	border-radius: 15px;
}

// .container-spoiler {
// 	background:$bgdark;
// 	width:95%;
// 	margin: 0 auto;
// 	text-align: center;
// 	border-radius: 15px;
// 	.spoiler-content {padding-top: 1rem;}

// 	p {padding: 1rem; }

// 	button {
// 		margin: 1rem 0 ;
// 		padding: .5rem 1.2rem;
// 		background: transparent;
// 		border: 1px solid $bgcard;
// 		border-radius: 25px;
// 		color: $letterscolor;
// 		font-size: 18.5px;
// 	}
// }
	
@include between(600, 1100) {
	.index-main {
		main > div {width: 70vw;}
	}
}

// @include up(1100) {
// 	.index-header img {
// 		width: 100%;
// 	}

// 	.index-main, .index-footer { 
// 		display: grid!important;
// 		grid-template-columns: repeat(3, 1fr);
// 		grid-template-rows: auto ;
// 		gap: 60px;
// 	}

// 	.index-main {
// 		> div {
// 			margin-bottom: 0;
// 			&:last-child {
// 				padding-bottom: 0;
// 			}
// 			.spoiler, .spoiler-content {display: none;}
// 		}
// 	}

// 	.index-footer {
// 		row-gap: 20px;
// 		min-height: 325px;
// 		grid-auto-flow: dense column;

// 		h3 {
// 			grid-area: 1 / 1 / span 1 / span 1;
// 			align-self: center;
// 			justify-self: flex-start;
// 		}

// 		h4 {
// 			font-size:20px ;
// 			margin-bottom:1rem ;
// 		}

// 		p {
// 			padding: 5px 0;
// 			line-height: 1.2em;
// 		}

// 		.contact-1, .contact-2, .contact-3  {
// 			border-radius: 15px;
// 		}

// 		.contact-2 {
// 			grid-area: 2 / 2 / span 1 /span 1;
// 		}

// 		.contact-3 {
// 			grid-area: 2 / 3 / span 1 /span 1;
// 		}
// 	}
// }