.main-options {
	@extend %grid-fill;
	> div {
		@extend %grid-text-vertical;
		@extend .card;
		padding:   0 0$card-padding 0;
		img {
			border-radius: 4px;
		}
		h4 {
			@extend .h5-medium;
			text-align: center;
			position: relative;
			&::after {
				content: '';
				margin: 0 auto;
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				width: 40%;
				height: 1px;
				background: $border;
			}
		}
	}
}

