	.pictures-header svg {
		transform: translate(10px, 6px);
		animation:camera 1s 1s cubic-bezier(0.51, 0.89, 0.56, 0.72) ;
	}

	.pictures-main {
		@extend %big-main;
		padding: $card-padding * 2 calc(50% - var(--container-width) / 2);

		h2 {
			opacity: 0;
			animation: h2 .5s ease-out forwards;
		}

		p {
			margin: 1.5rem 0;
			opacity: 0;
			animation:p .6s .5s ease-in-out forwards;
		}
	}