.projets {
	@extend %container-margin;
	@extend %grid-text-vertical;
	@extend .card;
	margin: $space-section / 2 auto;
	padding: $card-padding * 2;
	gap: $gap / 1.5;
	
	h4 {
		color: $yellow;
	}

	img.pdf {
		transform:translateY(35%);
		margin-left:10px ;
	}
}