.staff-main {
	@extend %big-main;
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

.container {
	padding: $space-section 0;
	ul.tabs {
		display: flex;
		li {
			padding: 1rem;
			background:$bgcard ;
			border-right: 1px solid $border;
			font-size: 18px;
			transition: background .3s ;
			&:hover {
				background: darken($bgcard, 5%);
			}
		}
	}

	.tabs-content {
		section {
			padding: $card-padding * 2;
			background-color: $bglight;
			border-radius: 0 8px 8px 8px;

			ul {
				display: grid;
				grid-template-columns: 1fr 2fr 2fr;
				column-gap: $gap;
				padding: $space * 1.5 0;
				color: $letterscolor;
			}

			ul.title {
				font-size: 18px;
				color: $color-dark;
				padding-bottom: $space * 3;
			}
		}
	}
}
	
